@media (max-width: 800px) {


   .search_field {
    width: 200px;
    height: 35px;
    background-color: rgb(203, 225, 211);
    border-radius: 15px;
    margin-bottom: 30px;

   }

   .search_button {
    background-color: rgb(20, 51, 63);
    height: 40px;
    color: rgb(203, 225, 211);
    border-radius: 15px;
   }


    .dog_catalog {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: rgb(20, 51, 63);
        border-radius: 20px;
        justify-content: space-around;

    }

    .dog_card {
        background-color: rgb(203, 225, 211);
        border-radius: 30px;
        border: #5A5945 solid 2px;
        padding: 10px;
        margin: 3px;
        font-family: monospace;
        font-size: 20px;
    }

    .dog_card:hover {
        background-color: rgb(20, 51, 63);
        border: #5A5945 solid 2px;
        color: #070603;
    }
}

@media (min-width: 801px) {

    .search_field {
    width: 300px;
    height: 55px;
    background-color: rgb(203, 225, 211);
    border-radius: 15px;
    margin-bottom: 30px;
    margin-right: 10px;

   }

   .search_button {
    background-color: rgb(20, 51, 63);
    height: 60px;
    color: rgb(203, 225, 211);
    border-radius: 15px;
   }



    .dog_catalog {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: rgb(20, 51, 63);
        border-radius: 20px;
        justify-content: space-around;

    }

    .dog_card {
        background-color: rgb(203, 225, 211);
        border-radius: 30px;
        border: #5A5945 solid 2px;
        padding: 13px;
        margin: 10px;
        font-family: monospace;
        font-size: 20px;
    }

    .dog_card:hover {
        background-color: rgb(20, 51, 63);
        border: #5A5945 solid 2px;
        color: #070603;
    }
}