#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  display: inline-block;
  background-color: #D9C99A;
  color: #5A5945;
  font-family: monospace;
  border: #5A5945 solid 2px;
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 100px;
  
}

.header {
  margin-bottom: 300px;
  margin-top: 0px;
}

.button_our_dogs {
  background-color: #D9C99A;
  border-radius: 2000px;
  padding: 60px;
  font-size: 100px;
  font-family: monospace;
  color: #5A5945;
  border: #5A5945 solid 2px;
  
}
.button_our_dogs:hover {
  background-color: #5A5945;
}

.dog_catalog {
  color: #070603;
  background-color: #D9C99A;

}

